---
layout: shouye
title: Miracle Space
---
<style>
.nav ul {list-style-type:none;}
.nav li 
{
 float:left;
 line-height:30px;
 margin:5px;
}
</style>
<script type="text/javascript">
	$(document).ready(function(){ 
	　　$(".posts").hide();
	　　
	}); 
	function showls(lid){
		$("#lis").html($("#"+lid).html());
	}
</script>
    <ul class='nav'>
   		<li id='tech'>
    		<a href="javascript:void(0)" onclick="showls('t')">	科技流行</a>
    	</li>
    	<li id='fiction'>
    		<a href="javascript:void(0)" onclick="showls('f')">	随便写写</a>
    	</li>
    	<li id='life' >
    		<a href="javascript:void(0)" onclick="showls('l')">	生活相关</a>
    	</li>    
		<li id="rss">
			<a href="http://feeds.feedburner.com/MiracleSpace" target="_blank">
				<img src="/images/rsspic.jpg" alt="rss feeds">
			</a>
		</li>
		
    </ul>
    <br>
    <hr>
   
<div id='lis'>	
<br>
<img src="/images/mlxy/4.JPG"><br>
</div>


<ul class='posts'>
	<div id='t'>
	　	{% for post in site.categories.tech %}
	　　	<li>{{ post.date |  date: "%Y/%m/%d" }} <a href="{{ post.url }}">{{ post.title }}</a></li>
	　　{% endfor %}
　　</div>
	<div id='f'>
		{% for post in site.categories.fiction %}
	　　	<li>{{ post.date |  date: "%Y/%m/%d" }} <a href="{{ post.url }}">{{ post.title }}</a></li>
	　　{% endfor %}
	</div>	

　	<div id='l'>
	　	{% for post in site.categories.life %}
	　　	<li>{{ post.date |  date: "%Y/%m/%d" }} <a href="{{ post.url }}">{{ post.title }}</a></li>
	　　{% endfor %}
　	</div>
　	<div id="me">
	<div itemscope itemtype="http://data-vocabulary.org/Person">
	  我的名字是： <span itemprop="name">刘洪源</span> <br>
	  网名：<span itemprop="nickname">Miracle刘</span><br>
	  我的照片：<span itemprop="photo"><img src="/images/mlxy/3.jpg"></span><br>
	  我的主页是：
	  <a href="http://blog.xmark.info" itemprop="url">http://blog.xmark.info</a><br>
	  我居住在上海市<br>
	  我是<span itemprop="role">工程师</span><br>
	  目前在<span itemprop="affiliation">土豆网</span>上班。<br>
	  <br>
	  <a href="http://weibo.com/u/1768291940?s=6uyXnP" target="_blank"><img border="0" src="http://service.t.sina.com.cn/widget/qmd/1768291940/1848e47b/4.png"/></a>
	</div>	
</div>
</ul>
