---
layout: shouye
title: Miracle Space
---
<style>
.nav ul {list-style-type:none;}
.nav li 
{
 float:left;
 line-height:30px;
 margin:5px;
}
</style>
<script type="text/javascript">
	$(document).ready(function(){ 
	　　$(".posts").hide();
	}); 
	function showls(lid){
		$("#lis").html($("#"+lid).html());
	}
</script>
    <ul class='nav'>
   		<li id='tech'>
    		<a href="javascript:void(0)" onclick="showls('t')">	技术文章</a>
    	</li>
    	<li id='fiction'>
    		<a href="javascript:void(0)" onclick="showls('f')">	随便写写</a>
    	</li>
    	<li id='life' >
    		<a href="javascript:void(0)" onclick="showls('l')">	生活相关</a>
    	</li>    	
    </ul>
    <br>
    <hr>
   
<div id='lis'>	
<br>
<img src="/images/mlxy/4.JPG"><br>
</div>

<ul class='posts'>
	<div id='t'>
	　	{% for post in site.categories.tech %}
	　　	<li>{{ post.date |  date: "%Y/%m/%d" }} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
	　　{% endfor %}
　　</div>
	<div id='f'>
		{% for post in site.categories.fiction %}
	　　	<li>{{ post.date |  date: "%Y/%m/%d" }} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
	　　{% endfor %}
	</div>	

　	<div id='l'>
	　	{% for post in site.categories.life %}
	　　	<li>{{ post.date |  date: "%Y/%m/%d" }} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
	　　{% endfor %}
　	</div>
</ul>
